@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic&family=Bai+Jamjuree&family=Bakbak+One&family=Bebas+Neue&family=Calistoga&family=Oleo+Script&family=Oswald:wght@300&family=Press+Start+2P&family=Roboto&family=Rock+Salt&family=UnifrakturMaguntia&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bai Jamjuree';
}

.attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }

.page-top-container {
	background-image: url("images/bg-header-desktop.png");
	height: 20rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 8rem;
}

.logo {
	display: flex;
	justify-content: center;
}



.section-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.section-1 h1 {
	font-size: 40px;
	color: black;
}

.section-1,
.section-mid,
.section-bottom p {
	font-size: 20px;
	padding: 0px;
	color: #AFAFAF;
}

button {
	color: white;	
	font-size: 18px;
	border-radius: 50px;
	width: 210px;
	height: 50px;
	margin: 5px;
}

.tp-btn {
	flex-wrap: wrap;
}

.ios {
	background-color: hsl(171, 66%, 44%);
	border: 1px solid #26BAA4;
}

.mac {
	background-color: hsl(233, 100%, 69%);
	border: 1px solid #6073FF;
}

.section-mid {
	padding: 100px;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.section-mid h2 {
	color: black;
}

.section-bottom {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 75% 25%;
}


.section-bottom-right {
	margin: 40px;
}

.sbr-contents {
	margin: 0px;
	padding: 40px;
	width: 600px;
}

.sbr-contents h3 {
	color: black;
}

.col {
	width: 100%;
}

.section-2 {
	display: flex;
	justify-content: center;
}
	
.container2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1440px;
	margin-top: 10rem;
}

.s1-header {
	text-align: center;
	font-size: 20px;
}

.s1-header h2 {
	color: black;
}

.s1-header,
.c3-header p {
	font-size: 20px;
	color: #AFAFAF;
}

.s1-image {
	display: flex;
	justify-content: center;
}

.section-3 {
	display: flex;
	justify-content: center;
}

.container3 {
	flex-wrap: wrap;
}

.c3-header {
	text-align: center;
}

.c3-header h2 {
	color: black;
}

.c3-cnts {
	display: flex;
}

.col-cnts {
	text-align: center;
	width: 500px;
	height: 170px;
	padding: 20px;
	
}

.sponsor {
	margin-top: 5rem;
	display: flex;
	gap: 200px;
}

.section-bottom {
	margin-top: 5rem;
}

.container-ftr {
	display: flex;
	justify-content: space-between;
	flex-basis: 30% 30% 30%;
}

.container-ftr {
	margin-top: 5rem;
	height: 150px; 
	background-color:#F5F6F8;
	padding: 50px;
}

.f-img img {
	height: 60px;
}

.f-img {
	padding: 0px;
}

.list ul {
	align-content: center;
	display: flex;
	justify-content: space-between;
	gap: 150px;
	list-style-type: none;
	padding: 20px;
}

.socials ul {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	list-style-type: none;
	padding: 20px;
}

@media 